@import "../../../variables.scss";
.mercury {
  background-color: $mercuryColor;
}

.venus {
  background-color: $venusColor;
}

.earth {
  background-color: $earthColor;
}

.mars {
  background-color: $marsColor;
}

.jupiter {
  background-color: $jupiterColor;
}

.saturn {
  background-color: $saturnColor;
}

.uranus {
  background-color: $uranusColor;
}

.neptune {
  background-color: $neptunColor;
}
.dot {
  height: 1em;
  width: 1em;
  border-radius: 50px;
}
.view--container {
  display: flex;
  justify-content: space-between;
  button {
    background-color: transparent;
    text-transform: uppercase;
    color: $lightGrey;
    cursor: pointer;
    font-weight: 600;
    font-family: $Spartan;
  }
}
