@import "../../../variables.scss";
.mercury {
  background-color: $mercuryColor;
}

.venus {
  background-color: $venusColor;
}

.earth {
  background-color: $earthColor;
}

.mars {
  background-color: $marsColor;
}

.jupiter {
  background-color: $jupiterColor;
}

.saturn {
  background-color: $saturnColor;
}

.uranus {
  background-color: $uranusColor;
}

.neptune {
  background-color: $neptuneColor;
}
.dot {
  height: 1em;
  width: 1em;
  border-radius: 50px;
}

.selector--container {
  display: flex;
  justify-content: space-between;
  button {
    background-color: transparent;
    text-transform: uppercase;
    color: $lightGrey;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 1em;
    padding: 1em;
    font-family: $Spartan;
    border: none;
    letter-spacing: 3px;
    border: none;
  }

  .active {
    border-bottom: 3px solid;
  }
}

.planet--container {
  padding: 2em;
  .img--container {
    display: flex;
  }
  img {
    margin: 0 auto;
    text-align: center;
    // width: 200px;
    // height: 200px;
  }

  .planet--main {
    .planet--intro {
      text-align: center;
      margin: 2em auto;

      h1 {
        letter-spacing: -1.5;
        font-size: 2.5rem;
        line-height: 1.5;
        font-family: $Antonio;
      }

      p {
        font-family: $Spartan;
        font-size: 1.375rem;
        font-weight: 200;
        line-height: 1.5;
      }
      .wikipedia {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $lightGrey;
        a {
          color: $lightGrey;
          font-size: 1.375rem;
          font-weight: 700;
          margin-left: 0.75em;
          text-decoration: underline;
        }
        p {
          margin: 0;
          letter-spacing: 1px;
        }
        .external--link--icon {
          vertical-align: middle;
        }
      }
    }
  }

  .fact--container {
    .fact--box {
      display: flex;
      text-transform: uppercase;
      align-items: center;
      justify-content: space-between;
      border: 1px $lightGrey solid;
      padding: 1em 2em;
      margin-bottom: 1em;
      h4 {
        font-family: $Antonio;
        font-size: 2rem;
        margin: 0;
      }
      p {
        letter-spacing: 0.73px;
        font-weight: 600;
        color: $lightGrey;
        margin: 0;
      }
    }
  }
}
hr {
  margin-top: 0;
}

@media (min-width: 768px) {
  .planet--main {
    display: flex;
    align-items: center;
    .selector--container {
      display: block;
      button {
        border: $lightGrey 0.1px solid;
        padding: 1em 2em;
        margin: 1em;
        width: 100%;
        color: $pureWhite;
        text-align: left;
        .number {
          color: $lightGrey;
          margin-right: 1em;
        }
        &:hover {
          background-color: $darkGrey;
        }
      }
    }
  }
  .fact--container {
    display: flex;
    justify-content: space-evenly;

    .fact--box {
      flex-direction: column;
      align-content: flex-start;
    }
  }
}
