@import "../../../variables.scss";

.navbar--container {
  .navbar--flex--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em 0.5em 2em;
    a {
      text-decoration: none;
      h1 {
        color: $pureWhite;
        font-family: $Antonio;
        text-transform: uppercase;
        margin: 0;
        font-size: 1.75rem;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    button {
      background-color: transparent;
      color: $pureWhite;
      border: none;
      font-size: 1.75rem;
      margin-top: 0.25em;
    }
  }
}
.planets--container--vertical {
  .planets--list {
    padding-left: 0;
  }
}
.planets--container--horizontal ul {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: $lightGrey;
    text-transform: uppercase;
    h2 {
      font-weight: 600;
      padding: 1em 1.2em;
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  }
}

.nav--list--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  .dotted--name {
    display: flex;
    align-items: center;

    h2 {
      margin-left: 1em;
      text-transform: uppercase;
      color: $pureWhite;
      letter-spacing: 1.36px;
      font-weight: 600;
      line-height: 1.5;
    }
  }
  .forward--icon {
    color: $pureWhite;
  }
}

@media (min-width: 768px) {
  .navbar--flex--container {
    flex-direction: column;
    padding: 0;
    a {
      margin-bottom: 0;

      h2 {
        margin-bottom: 0;
      }
    }
  }
}
