@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $pureWhite;
  margin: 0 auto;
  font-family: $Spartan;
  background-image: url("/background-stars.svg");
}
.default {
  background-color: $button--default--bgColor;
  border: $button--default--border;
  color: $button--textColor;
  font-family: $Antonio;
  padding: $button--padding;
}
hr {
  color: $darkGrey;
}
